a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

.arrowLink {
    color: #000000;
    font-weight: 600;
    line-height: 16px;
    text-decoration: underline;
}

.arrowLinkWhite {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 16px;
    text-decoration: underline;

}

.arrow {
    display: inline-block;
    margin-left: 19px;
     font-size: 18px;
}