footer {
    color: #fff; 
}

footer ul {
    margin-top: 50px;
}

footer li {
    list-style: none;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.footer {
    background-color: #1F1815;
    /* display: flex; */
    padding: 28px 300px 37px 40px;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #fff;
}

.footerContact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}