* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

img {
  width: 100%;
}

a {
  color: black;
}

button a {
  color: white;
}

::-webkit-scrollbar {
  width: 8px;    
  height: 8px;    
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2B2A2B;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
background: #d4d4d4;
}