body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Outfit';
}

img {
    width: 100%;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#shop {

    background: #2B2A2B;
    color: white;
    padding: 0 40px 40px 40px;
    border-radius: 0 0 6px 6px;
    position: absolute;
    right: 0px;
    top: 80px;
    z-index: 1;
    max-width: 392px;
    display: none;
}

#product {
    background: #515051;
    padding: 10px 10px 0 10px;
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
}

#product img {
    width: 35%;
    height: auto;
    position: relative;
    bottom: 15px;
}

#product h5 {
    font-size: 17px;
}

#id {
    color: #2B2A2B;
    font-size: 1px;
}

#cest {
    display: none;
}

#emptyCart {
    text-align: center;
}

#emptyCart {
    position: relative;
    top: 19px;
}

#deleteAll {
    width: 50px;
    background-color: transparent;
    border: none;
    -webkit-transition: all 0.3s ease-out;
}

#deleteAll:hover {
    transform: rotate(-360deg);
}


#deleteProduct {
    width: 30px;
    height: 30px;
    color: white;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 50%;
    position: absolute;
    right: 50px;
}

#deleteProduct:hover {
    color: red;
    border: solid 2px red;
}

#priceU {
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 10px;
}

#add {
    border-radius: 50% 0 0 50%;
    border: solid 1px #2A5B45;
}

#minus {
    border-radius: 0 50% 50% 0;
    border: solid 1px #2A5B45;
    margin-bottom: 7px;
}

#cuantity {
    background-color: transparent;
    padding: 0 5px 0 5px;
    height: 20.46px;
}

#subTotal {
    margin-top: 5px;
}

#goToCart {
    background-color: #515051;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    padding: 11px 18px;
    border: none;
    border-radius: 4px;
    margin-right: 155px;
}

#goToCart:hover {
    background-color: #2A5B45;
}

#totalProducts {
    background-color: #515051;
    padding: 4px 8.5px;
    border-radius: 50%;
    width: 24px;
    color: white;
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B2A2B;
    padding: 14px;
    font-weight: 600;
    color: white;

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li a {

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 20.29px;
    height: 24.95px;
    margin-left: -10px;
}

#logo h3 {
    font-size: 23.46px;
    margin-top: 7px;
    margin-left: 10px;
}

#contact img {
    width: 18px;
    height: 18px;
    margin-right: 11px
}

#contactShop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contactShop button {
    margin-right: 5px;
}

@media (max-width: 1140px) {
    #number {
        display: none;
    }

    #nav {
        font-size: 12px;
    }

    #cart {
        margin-left: 20px;
    }

    #logo img {
        margin-left: 10px;
    }
}

@media (max-width: 875px) {
    nav h3 {
        display: none;
    }

    .drop-down {
        max-width: 568px;
    }
}

#contact button {
    padding: 11px 18px;
    border-radius: 4PX;
    background-color: #515051;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    width: 130px;
    height: 40px;
    margin-left: 24px;
}

#cart {
    background-color: transparent;
    margin-right: 35px;
    border: none;
    width: 100px;
}

#cart img {
    width: 24px;
    height: 24px;
    margin-right: 11px;
}




#section1 {
    background-color: rgba(227, 222, 215, 0.3);
    align-items: center;
    padding: 48px 40px;
}

#section1 h3 {
    color: #2A5B45;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#section1 h1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#section1 p {
    font-family: Outfit;
    font-weight: 500;
    line-height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#section1 img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 20px;
}

#button-origin {
    background-color: #1F1815;
    color: #FFFFFF;
    width: 166px;
    height: 40px;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 16px;
    margin-bottom: 40px;
}

#button-buy {
    background-color: #2A5B45;
    color: #FFFFFF;
    width: 137px;
    height: 40px;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}



#section2 {
    background-image: url(../assets/img/086aa1e226e5adfe010fd0fb3ff3e2cb.jpg);
    background-repeat: space;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    text-align: center;


}

#section2 h2 {
    font-size: 28px;
    line-height: 26px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 48px 0 48px 0;
}

#info {
    padding-bottom: 48px;
}

#Check img {
    width: 23.33px;
    height: 30px;
}

#car img {
    width: 30px;
    height: 23.33px;
}


#gift img {
    width: 30px;
    height: 30px;
}

#section2 article {
    background-color: #FFFFFF;
    width: 316px;
    height: auto;
    border-radius: 8px;
    margin-right: 24px;
    margin-bottom: 10px;
    padding: 44px 30px 24px 30px;
    box-shadow: 0 1px 4px 0 rgba(227, 222, 215, 0.8);

}


#carPicture {
    padding-top: 40px;
}

#section2 h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 18px;
}

#section2 p {
    font-weight: 400;
    line-height: 16px;
}

#Check picture {
    background-color: #2A5B45;
    border-radius: 20px;
    padding: 17px 20.33px;
}

#car picture {
    background-color: #2A5B45;
    border-radius: 20px;
    width: 64px;
    height: 64px;
    padding: 16.99px 16.99px;
}

#gift picture {
    background-color: #2A5B45;
    border-radius: 20px;
    width: 64px;
    height: 64px;
    padding: 16.99px 16.99px;
}

#car {
    margin-top: 20px;
}

#section3Shop {
    display: flex;
    padding: 0 40px 0 40px;
}

#allShop {
    max-width: 99%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px 0 40px;
}

#section3 img {
    max-width: 219.39px;
    max-height: 219.39px;
    margin: 0 -10px 24px -10px;
    /* padding: 24px 31px; */
}

#section3 {
    text-align: center;
    padding: 40px 0 40px 0;
}

#section3 div {
    border: solid 2px #F7F5F3;
    border-radius: 8px;
    padding: 24px 31px;
    /* max-height: 391.39px;  */
    margin: 0 10px 40px 10px;
}

#section3 h2 {
    color: #2A5B45;
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 40px;
}

.buy {
    border: solid 2px #F7F5F3;
    max-width: 282px;
    max-height: 391.39px;
    border-radius: 8px;
    margin: 0 10px 40px 10px;
}

.buy:hover {
    background-color: rgba(227, 222, 215, 0.3);
}


#section3 h5 {
    color: #000000;
    font-weight: 600;
    line-height: 16px;
    font-size: 14px;
}

#section3 a {
    color: #000000;
    font-weight: 600;
    line-height: 16px;
}

#section3 p {
    font-weight: 400;
    line-height: 16px;
    margin-top: 12px;
}

#section3 button {
    background-color: rgba(42, 91, 69, 0.7);
    padding: 6px 8px;
    border-radius: 4px;
    border: none;
    margin-bottom: 24px;
    color: #FFFFFF;
    font-weight: 500;
}

#section3 button:hover {
    background-color: #2A5B45;
    font-weight: 600;
}


#see-more img {
    height: 8px;
    width: 18px;
    margin-left: 19px;
    padding: 0;
    margin-top: 22px;
}

#see-more a {
    text-decoration: underline;
}

#section4 {
    background-color: #2A5B45;
    padding: 48px 20px 52px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section4 h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}

#section4 a {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    padding: 28px 0 0 0;
}

#section4 button {
    border: none;
    background-color: transparent;
}

#section4 a img {
    width: 18px;
    height: 8px;
}

.drop-down {
    background-color: #FFFFFF;
    width: 668px;
    height: auto;
    margin: 16px 0;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 4px 4px, rgba(0, 0, 0, 0.25);
}

.drop-down img {
    width: 10px;
    height: 6px;
    -webkit-transition: all 0.3s ease-out;
}



.drop-down article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-down p {
    padding: 12px 16px 0 0;
    border-top: solid 1px #E3DED7;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: none;
}

.drop-down h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 16px 0;
}

#section5 {
    background-color: #F7F5F3;
    align-items: center;
    padding: 0 40px 40px 40px;
}

#section5 h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #2A5B45;
    margin-top: 40px;
}

#section5 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}



.arrow a {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: underline;
}

.arrow img {
    width: 18px;
    height: 8px;
    margin-left: 19px;
    margin-bottom: 40px;
}

#section5 img {
    border-radius: 20px;
    margin-top: 40px;
}


#section6 {
    background-color: #E3DED7;
    padding: 0 40px;
    color: #515051;
}

#section6 h3 {
    margin-top: 116px;
    color: #000000;
}


#section6 p a {
    color: #000000;
    text-decoration: underline;
    font-weight: 600;
}

#section6 img {
    width: 18px;
    height: 14px;
    margin-right: 8px;
}

.section6-1 {
    margin-bottom: 20px;
}

#register {
    background-color: #FFFFFF;
    padding: 32px 51px 32px 67px;
}

#register p {
    margin-bottom: 4px;
    font-size: 12px;
}

#register input {
    margin-bottom: 24px;
    width: 100%;
    border: solid 1px #797979;
    border-radius: 4px;
    height: 34px;
}

#country {
    display: flex;
    flex-wrap: nowrap;
}

#country #tel {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

#country select {
    max-width: 55px;
    height: 34px;
    border-right: none;
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    border-color: #797979;
}


#register textarea {
    margin-top: 24px;
    width: 100%;
    border: solid 1px #797979;
    border-radius: 4px;
    margin-bottom: -30px;
    font-size: 12px;
}

#RGPD {
    background-color: #FFFFFF;
    padding: 32px 51px 32px 67px;

}

#RGPD input {
    margin-right: 7px;
    margin-bottom: 7px;
}

#RGPD label a {
    color: #000000;
    text-decoration: underline;
    font-weight: 600;
}

#submit input {
    margin-top: 28px;
    background-color: #2A5B45;
    color: #FFFFFF;
    padding: 10px 20px;
}

footer {
    background-color: #1F1815;
    color: #FFFFFF;
}

#logo2 a {
    font-size: 23.46px;
}

#logo2 img {
    width: 20.29px;
    height: 24.95px;
    margin-left: 7.33px;
    margin-bottom: 7PX;
}

#logo2 {
    padding: 28.61px 0 16px 40px;
}

#help-contact {
    margin: 0 0 30px 40px;
}

#help-contact button {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #515051;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
}

#help-contact img {
    width: 18px;
    margin-right: 7px;
}

footer ul {
    list-style: none;
    margin-top: 80px;
    margin-bottom: 43px;
}

footer li {
    margin: 10px;
}

#copyR {
    background-color: #2B2A2B;
    padding: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
}

#idProduct {
    color: white;
}

.none {
    opacity: 40%;
}


/* CESTA HTML */

#section7 {
    padding: 40px;
}

#section7 h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #2A5B45;
}

#checkout {
    display: flex;
}

#checkout h3 {
    margin-top: 24px;
}

#cartTotal {
    background-color: #F7F5F3;
    position: fixed;
    right: 40px;
    padding: 24px;
    top: 22%;
    width: 384px;
    border-radius: 10px;
}

section#cartTotal div {
    border-top: solid 1px #E3DED7;
    border-bottom: solid 1px #E3DED7;
    padding: 16px 0 0 0;
    margin: 16px 0 16px 0;
}

#produtcsCart {
    text-align: center;
}

#produtcsCart a {
    color: #2A5B45;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

#produtcsCart h4 {
    font-weight: 600;
    margin-top: 40px;
}

#cartTotal span {
    float: right;
    font-weight: 600;
    font-size: 18px;
}

#iva {
    color: #515051;
    font-weight: 400;
    font-size: 12px;
    float: right;
    margin-top: -6px;
}

#goCheckout {
    color: white;
    font-weight: 600;
    margin-top: 30px;
    background: #2A5B45;
    border-radius: 4px;
    padding: 8px 18px;
    margin-right: 40px;
    border: none;
}

#goShop {
    color: #2A5B45;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 36px;
}

#allProducts {
    display: flex;
    width: 776px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E3DED7;
}

#infoCoffe {
    display: flex;
    align-items: center;
}

.btnCoffe {
    height: 24px;
    width: 24px;
    left: 0px;
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 24px;
}

#allProducts img {
    height: 55px;
    width: 55px;
    margin: 24px 24px 24px 30px;
}

#cuantityCoffe {
    padding: 4px 8.5px;
    border-radius: 50%;
    width: 24px;
    margin: 0 14px 0 14px;
    background-color: rgba(42, 91, 69, 0.1);
    color: #2A5B45;

}

#allProducts h5 {
    font-weight: 600;
    font-size: 18px;
}

#allProducts p {
    letter-spacing: 0em;

}

#allProducts h3 {
    font-size: 18px;
    font-weight: 600;
}

.shippingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 776px;
}

.shippingBox h5 {
    font-weight: 600;
    font-size: 14px;
}

.shippingBox span {
    font-size: 18px;
    font-weight: 600;
}

.standardDiv {
    margin-top: 24px;
}

.firtHr {
    border-bottom: solid 1px #E3DED7;
}

.standardDiv input[type=radio] {
    width: 16px;
    height: 16px;
    accent-color: #2A5B45;
    margin: 0 20px 0 0;
    position: relative;
    bottom: 13px;
}

#checkoutForm {
    padding: 40px 40px 44px 40px;
}

#checkoutForm h2 {
    font-weight: 500;
    font-size: 24px;
    color: #2A5B45;
    text-align: center;
    margin-bottom: 24px;
}

#checkoutForm h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 24px;

}

#checkoutForm label {
    font-size: 12px;
    margin: 0 0 -3px 0;
}

#checkoutForms input[type=radio] {
    width: 12px;
    height: 12px;
    accent-color: #2A5B45;
    position: relative;
    bottom: 13px;
    margin-right: 21px;
}

#checkoutForm label h4 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;

}

#checkoutForm label p {
    font-size: 14px;
    margin-bottom: -10px;
}

label img {
    width: 69.23px;
    height: 30px;
    margin-left: 20px;
}

#expiration {
    max-width: 127.5px;
}

#cvc {
    max-width: 127.5px;

}

#cvcLabel {
    padding-left: 46px;
}


#bankTransferLabel {
    display: flex;
    align-items: center;
    width: 776px;
    padding: 24px 0 5px 0;
    margin-left: 40px;
    border-top: 1px solid #E3DED7;
    border-bottom: 1px solid #E3DED7;
    margin-top: -40px;
}

#bankTransferLabel h4 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;

}


#bizumLabel {
    display: flex;
    align-items: center;
    padding-bottom: 28px;
    margin-left: 40PX;
}

#bizumLabel h4 {
    font-weight: 600;
    font-size: 14px;
}

#bizum {
    position: relative;
    top: -4px;
}

#address {
    padding: 0 0 40px 40px;
    margin-top: -40px;
}

#address h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 24px;
}

#address input,
select {
    width: 521px;
    margin: 0 24px 8px 0;
    padding: 8px 8px;
    height: 36px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

#address label {
    font-size: 12px;
    margin: 0 0 -3px 0;
}

#checkoutForm input[type=text] {
    margin: 0 24px 8px 0;
    padding: 10px 8px;
    width: 279px;
    height: 36px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

#checkoutForm label {
    font-size: 12px;
    margin: 0 0 -3px 0;
}

.population {
    max-width: 248.5px;
}

#cpLabel {
    padding-left: 221px;
}

.houseInfo {
    max-width: 112.25px;
}

#numLabel {
    padding-left: 111px;
}

#apartamentLabel {
    padding-left: 124px;
}

#doorLabel {
    padding-left: 115px;
}

.disabled {
    color: white;
    font-weight: 600;
    margin-top: 30px;
    background: #2A5B45;
    border-radius: 4px;
    padding: 8px 18px;
    margin-right: 40px;
    border: none;
    opacity: 40%;
}

#checkIcon {
    background-color: #2A5B45;
    border-radius: 20px;
    width: 64px;
    height: 64px;
    padding: 16.99px 16.99px;
    margin-top: 60px;

}

#checkIcon img {
    height: 30px;
    width: 23px;
    margin-bottom: 5px;
}

#success {
    text-align: center;
    padding: 40px;
}

#success h2 {
    font-weight: 500;
    font-size: 24px;
    color: #2A5B45;
    margin: 24px;
}

.infoAllProducts {
    display: flex;
    flex-direction: row;
    text-align: start;
}

.allProducts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E3DED7;
    border: none;
}

.allProducts img {
    height: 58px;
    width: 58px;
    margin: 24px 24px 24px 30px;
}

.allProducts h5 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.allProducts p {
    margin-top: -6px;
    margin-bottom: 4px;
}


.allProducts h3 {
    font-size: 18px;
    font-weight: 600;
}

#order {
    background: #F7F5F3;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;
}

#totalPrice {
    text-align: start;
}

#totalPrice span {
    float: right;
    font-weight: 600;
}

#totalPrice h5 {
    font-weight: 600;
    font-size: 14px;
}

#success button {
    width: 158px;
    height: 40px;
    background: #2A5B45;
    border-radius: 4px;
    border: none;
}

#subtotal {
    border-top: solid 1px #E3DED7;
    padding: 16px 0 5px 0;
    border-bottom: solid 1px #E3DED7;
    margin-bottom: 16px;
}